.kor {
    font-family: "Gowun Dodum", sans-serif;
}

.eng {
    font-family: 'Roboto', sans-serif;
}

section {
    margin-top: 70px;
    height: 600px;
}

.head {
    font-size: xx-large;
}

.flex_container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item {
    flex: 1;
    /* flex: 1 1 0 확대 축소 축 유동성*/
}

#smallLogo {
    width: 140px;
    height: 35px;
}

#mainLogo {
    width: 40%;

}